redlist = #D10000

span.product
  line-height: 2.2rem
  font-size: 2rem
  padding-left: 15px
  width: 80%
  color: #7d7b7b

span.checked
  text-decoration: line-through

ul.autocomplete-content li img
  display: none

.navigation
  background: redlist !important

.red
  background-color: redlist !important

.collapsible
  border: none
  box-shadow: 0 0 0 0 rgba(0,0,0,0)

span.badge
  font-size: 2em
  padding-top: 5px

.collapsible-header
  color: #D10000
  font-size: 1.3rem

.collection .collection-item
  padding: 15px 20px

.instructions
  position: fixed;
  right: 20px;
  bottom: 4px;

  img
    width: 400px

.btn-large i
  font-size: 2.7rem

.global-count
  font-size: 1.3rem
  margin-right: 10px
