- var vendors = 'bower_components'

doctype html
html
  head
    title RedList organisez votre liste de course
    link(rel='stylesheet' href='/bower_components/material-design-icons/iconfont/material-icons.css' media='screen')
    link(rel='stylesheet' href='/bower_components/materialize/dist/css/materialize.min.css' media='screen')
    link(rel='stylesheet' href='/css/main.css' media='screen')
    link(rel='manifest' href='/manifest.json')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(name='theme-color' content='#d10000')
  body
    header
      nav(class='navigation')
        .nav-wrapper
          a(href='#' class='brand-logo center') 
            img(src='/img/brand-logo.png' alt='RedList')
          ul#nav-mobile.right
            li
              span#global-count.global-count 

    ul#list.collapsible(data-collapsible='expandable')

    div#instructions.instructions
      img(src='/img/instructions.png' alt='Cliquez sur le bouton plus pour commencer votre liste de course')

    .fixed-action-btn
      a(id='addItem' data-target='modal1' class='btn-floating btn-large red')
        i.large.material-icons add
    
    #modal1.modal 
      .modal-content
        .row
          form#addForm
            .input-field.col.s12
              input#product.autocomplete(type='text', autocomplete='off') 
              label(for='product') Produit
            .input-field.col.s4
              input#quantity(type='text', autocomplete='off')
              label(for='quantity') Quantitée
            .input-field.col.s8
              a(class='waves-effect waves-light btn unity' data-unit='g') G
              a(class='waves-effect waves-light btn unity' data-unit='Kg') Kg
              a(class='waves-effect waves-light btn unity' data-unit='l') L
              input#unit(type='hidden')
      
      .modal-footer
        a#addProduct.btn-large.red.modal-action.modal-close
          i.large.material-icons add
    
    script(type='text/javascript' src='/bower_components/jquery/dist/jquery.min.js')
    script(type='text/javascript' src='/bower_components/materialize/dist/js/materialize.min.js')
    script(type='text/javascript' src='/bower_components/hammerjs/hammer.min.js')
    script(type='text/javascript' src='/js/bundle.js')